<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set the base path for the rewrite rules.
    RewriteBase /sharj/public/

    # Handle Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
